source_datasets_adaption/NeonTreeEvaluation/annotations/
source_datasets_adaption/NeonTreeEvaluation/images/
source_datasets_adaption/IDTReeS/Field/
source_datasets_adaption/IDTReeS/ITC/
source_datasets_adaption/IDTReeS/RemoteSensing/
source_datasets_adaption/PureForest/PureForest/imagery-Robinia_pseudoacacia/
source_datasets_adaption/PureForest/PureForest/imagery-Abies_alba/
source_datasets_adaption/PureForest/PureForest/imagery-Abies_nordmanniana/
source_datasets_adaption/PureForest/PureForest/imagery-Castanea_sativa/
source_datasets_adaption/PureForest/PureForest/imagery-Fagus_sylvatica/
source_datasets_adaption/PureForest/PureForest/imagery-Larix_decidua/
source_datasets_adaption/PureForest/PureForest/imagery-Picea_abies/
source_datasets_adaption/PureForest/PureForest/imagery-Pinus_halepensis/
source_datasets_adaption/PureForest/PureForest/imagery-Pinus_nigra/
source_datasets_adaption/PureForest/PureForest/imagery-Pinus_nigra_laricio/
source_datasets_adaption/PureForest/PureForest/imagery-Pinus_pinaster/
source_datasets_adaption/PureForest/PureForest/imagery-Pinus_sylvestris/
source_datasets_adaption/PureForest/PureForest/imagery-Pseudotsuga_menziesii/
source_datasets_adaption/PureForest/PureForest/imagery-Quercus_ilex/
source_datasets_adaption/PureForest/PureForest/imagery-Quercus_petraea/
source_datasets_adaption/PureForest/PureForest/imagery-Quercus_pubescens/
source_datasets_adaption/PureForest/PureForest/imagery-Quercus_robur/
source_datasets_adaption/PureForest/PureForest/imagery-Quercus_rubra/

lightning_logs/
__pycache__/
*/__pycache__/
*.zip
*.rar
*.tif
*.tiff
*.png
*.jpg

yolo_dataset_adaption/images/
yolo_dataset_adaption/labels/

source_datasets_finetuning/images/
source_datasets_finetuning/labels/

yolo_dataset_finetune/images/
yolo_dataset_finetune/labels/