source_datasets/NeonTreeEvaluation/annotations/
source_datasets/NeonTreeEvaluation/images/
source_datasets/IDTReeS/Field/
source_datasets/IDTReeS/ITC/
source_datasets/IDTReeS/RemoteSensing/
source_datasets/PureForest/PureForest/imagery-Robinia_pseudoacacia/
source_datasets/PureForest/PureForest/imagery-Abies_alba/
source_datasets/PureForest/PureForest/imagery-Abies_nordmanniana/
source_datasets/PureForest/PureForest/imagery-Castanea_sativa/
source_datasets/PureForest/PureForest/imagery-Fagus_sylvatica/
source_datasets/PureForest/PureForest/imagery-Larix_decidua/
source_datasets/PureForest/PureForest/imagery-Picea_abies/
source_datasets/PureForest/PureForest/imagery-Pinus_halepensis/
source_datasets/PureForest/PureForest/imagery-Pinus_nigra/
source_datasets/PureForest/PureForest/imagery-Pinus_nigra_laricio/
source_datasets/PureForest/PureForest/imagery-Pinus_pinaster/
source_datasets/PureForest/PureForest/imagery-Pinus_sylvestris/
source_datasets/PureForest/PureForest/imagery-Pseudotsuga_menziesii/
source_datasets/PureForest/PureForest/imagery-Quercus_ilex/
source_datasets/PureForest/PureForest/imagery-Quercus_petraea/
source_datasets/PureForest/PureForest/imagery-Quercus_pubescens/
source_datasets/PureForest/PureForest/imagery-Quercus_robur/
source_datasets/PureForest/PureForest/imagery-Quercus_rubra/

lightning_logs/
__pycache__/
*/__pycache__/

yolo_dataset/images
yolo_dataset/labels
classification_dataset/IDTREES_classification/images
classification_dataset/PureForest_classification/images



